---
import AnchorButton from "@/components/shared/buttons/AnchorButton.astro";
import CopyIcon from "@lucide/astro/icons/copy";
import IconButton from "@/components/shared/buttons/IconButton.astro";
import SendIcon from "@lucide/astro/icons/send";
import ExternalLinkIcon from "@lucide/astro/icons/external-link";
import type { AstroComponent } from "@lucide/astro";

type ButtonData = {
  href?: string;
  ariaLabel: string;
};

interface Props {
  title: string;
  contactInfo: string;
  Icon: AstroComponent;
  sendButtonData?: ButtonData;
  redirectButtonData?: ButtonData;
  copyButtonData?: ButtonData;
}

const {
  title,
  Icon,
  contactInfo,
  sendButtonData = { ariaLabel: "" },
  redirectButtonData = { ariaLabel: "" },
  copyButtonData,
} = Astro.props;
---

<div class="contact-card">
  <div class="contact-card__wrapper">
    <header>
      <h3 class="contact-card__title">
        {title}
      </h3>
    </header>
    <div class="contact-card__content">
      <Icon
        size={24}
        color="var(--color-icon-default-default)"
        class="contact-card__icon"
      />
      <p class="contact-card__info"><span>{contactInfo}</span></p>
    </div>
  </div>
  <footer class="contact-card__buttons">
    {
      sendButtonData && sendButtonData.href && (
        <AnchorButton
          type="tertiary"
          size="small"
          href={sendButtonData.href}
          ariaLabel={sendButtonData.ariaLabel}
        >
          <SendIcon size={20} style="stroke: url(#brandGradient)" />
        </AnchorButton>
      )
    }

    {
      redirectButtonData && redirectButtonData.href && (
        <AnchorButton
          type="tertiary"
          size="small"
          href={redirectButtonData.href}
          ariaLabel={redirectButtonData.ariaLabel}
        >
          <ExternalLinkIcon size={20} style="stroke: url(#brandGradient)" />
        </AnchorButton>
      )
    }

    {
      copyButtonData && (
        <IconButton
          buttonType="tertiary"
          size="small"
          className="contact-card__copy-button"
          ariaLabel={copyButtonData.ariaLabel ?? ""}
        >
          <CopyIcon size={20} style="stroke: url(#brandGradient)" />
        </IconButton>
      )
    }
  </footer>
</div>

<style>
  .contact-card {
    /* Layout */
    display: flex;
    height: 6.875rem;
    min-height: 6.875rem;
    max-height: 6.875rem;
    padding: var(--space-300) var(--space-300) var(--space-300) var(--space-600);
    align-items: center;
    gap: var(--space-300);
    box-sizing: border-box;
    align-self: stretch;

    /* Style */
    border-radius: var(--radius-100);
    border: 1px solid var(--color-border-default-default);
    background: var(--background-color);

    /* Drop Shadow */
    box-shadow: var(--depth-0) var(--depth-200) var(--depth-400)
      var(--depth-negative-200) var(--color-black-300);
  }

  .contact-card__wrapper {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-100);
    align-self: stretch;
    flex-grow: 1;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .contact-card__title {
    /* Typography */
    font-size: var(--typography-body-size-small);
    font-style: normal;
    font-weight: var(--typography-body-font-weight-regular);

    /* Style */
    color: var(--color-text-default-secondary);
  }

  .contact-card__content {
    /* Layout */
    display: flex;
    align-items: center;
    gap: var(--space-300);
    align-self: stretch;
    overflow: hidden;
  }

  .contact-card__info {
    /* Layout */
    display: flex;
    align-items: center;
    min-height: 2.75rem;

    /* Typography */
    overflow: hidden;
    color: var(--color-text-default-default);
    font-size: var(--typography-body-size-base);
    font-style: normal;
    font-weight: var(--typography-body-font-weight-regular);
  }

  .contact-card__icon {
    flex-shrink: 0;
  }

  .contact-card__info > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-card__buttons {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-300);
    align-self: stretch;
  }

  @media (min-width: 48em) {
    .contact-card {
      min-width: 18.75rem;
    }
  }

  @media (min-width: 64em) {
    .contact-card {
      min-width: 25rem;
    }
  }
</style>

<script>
  import tippy from "tippy.js";
  import "tippy.js/animations/scale.css";
  import "tippy.js/dist/tippy.css";

  document.addEventListener("astro:page-load", () => {
    const copyButtons = document.querySelectorAll(
      ".contact-card__copy-button"
    ) as NodeListOf<HTMLButtonElement>;
    const contactMap = new WeakMap<HTMLButtonElement>();
    const tippyInstancesMap = new WeakMap<HTMLButtonElement>();
    let clicked: boolean;

    // Map all contact information related to each button
    copyButtons.forEach((button) => {
      const tooltip = tippy(button, {
        content: "Copiar",
        trigger: "manual",
        hideOnClick: false,
        animation: "scale",
      });
      tippyInstancesMap.set(button, tooltip);

      const wrapper = button.closest(".contact-card");
      if (!wrapper) return;

      const info = wrapper.querySelector(
        ".contact-card__info"
      ) as HTMLParagraphElement;

      contactMap.set(button, info.textContent as string);
    });

    function handleTooltip(
      button: HTMLButtonElement,
      show: boolean,
      content?: string
    ) {
      const tooltip = tippyInstancesMap.get(button);

      if (!tooltip) return;

      if (content) tooltip.setContent(content);

      if (show) tooltip.show();
      else tooltip.hide();
    }

    async function copyToClipboard(button: HTMLButtonElement) {
      clicked = true;

      const info = contactMap.get(button);

      if (!info) return;

      try {
        await navigator.clipboard.writeText(info);

        handleTooltip(button, true, "Copiado");
      } catch {
        handleTooltip(button, true, "Error al Copiar");
      } finally {
        setTimeout(() => {
          handleTooltip(button, false, "Copiar");
          clicked = false;
        }, 1500);
      }
    }

    copyButtons.forEach((button) => {
      button.addEventListener(
        "click",
        async () => await copyToClipboard(button)
      );
      button.addEventListener("mouseover", () => {
        if (!clicked) handleTooltip(button, true);
      });
      button.addEventListener("mouseleave", () => {
        if (!clicked) handleTooltip(button, false);
      });
      button.addEventListener("focusin", () => {
        if (!clicked) handleTooltip(button, true);
      });
      button.addEventListener("focusout", () => {
        if (!clicked) handleTooltip(button, false);
      });
    });
  });
</script>
