---
import { techIconsMap } from "@/data/icons";
import { Image } from "astro:assets";

interface Props {
  technologyName: string;
  version?: string;
  purpose?: string;
}

const { technologyName, version, purpose } = Astro.props;

const icon = techIconsMap.get(technologyName);
if (!icon)
  throw new Error(
    `Given technology name \"${technologyName}\" wasn't found in the techStackIcons.json file.`
  );

const formattedName = technologyName + (version ? " " + version : "");
---

<article class="technology-card">
  <Image class="technology-card__icon" src={icon.metadata} alt={icon.alt} />
  <div class="technology-card__info">
    <h3 class="technology-card__name">{formattedName}</h3>
    <p class="technology-card__purpose">{purpose}</p>
  </div>
</article>

<style>
  .technology-card {
    /* Layout */
    display: flex;
    padding: var(--space-400);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-400);
    align-self: stretch;
    word-break: keep-all;

    /* Style */
    border-radius: var(--radius-100);
    border: 1px solid var(--color-border-default-default);
    box-shadow: var(--depth-0) var(--depth-100) var(--depth-200)
      var(--depth-negative-100) var(--color-black-200);
  }

  .technology-card__icon {
    /* Layout */
    object-fit: contain;
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;

    /* Style */
    border-radius: 0.25rem;
  }

  .technology-card__info {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-100);
    align-self: stretch;
    flex: 1 0 0;
  }

  .technology-card__name,
  .technology-card__purpose {
    /* Layout */
    align-self: stretch;

    /* Typography */
    color: var(--color-text-default-default);

    /* Body Strong */
    font-size: var(--typography-body-size-base);
    font-style: normal;
    font-weight: var(--typography-body-font-weight-strong);
    line-height: 140%;
  }

  .technology-card__purpose {
    /* Typography */
    font-size: var(--typography-body-size-small);
    font-weight: var(--typography-body-font-weight-regular);
  }

  @media screen and (min-width: 48em) {
    .technology-card {
      flex-direction: row;
      height: 8.125rem;
      min-height: 8.125rem;
      max-height: 8.125rem;
      padding: var(--space-600);
    }

    .technology-card__info {
      /* Text Limit */
      overflow: hidden;
    }

    .technology-card__name {
      /* Text Limit */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .technology-card__purpose {
      /* Text Limit */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
</style>
