---
import { projectsIconsDir } from "@/constants";
import { projectIconsImports } from "@/data/icons";
import { Image } from "astro:assets";

interface Props {
  title: string;
  iconName: string;
  iconAlt: string;
}

const { title, iconName, iconAlt } = Astro.props;

const iconPath = projectsIconsDir + iconName;

if (!projectIconsImports[iconPath])
  throw new Error(`Icon with path ${iconPath} wasn't found.`);

const iconMetadata = projectIconsImports[iconPath].default;
---

<div class="project__header">
  <h1 class="project__title" transition:name={`title-${title}-transition`}>
    {title}
  </h1>
  <Image
    class="project__icon"
    src={iconMetadata}
    alt={iconAlt}
    loading="eager"
  />
</div>

<style is:inline>
  .project__header {
    /* Layout */
    display: flex;
    align-self: stretch;
    padding: var(--space-400);
    justify-content: center;
    align-items: center;
    gap: var(--space-200);
    position: relative;

    /* Style */
    background: var(--primary-color-100);
    box-shadow: var(--depth-0) var(--depth-400) var(--depth-400)
      var(--depth-negative-200) var(--color-black-200);
  }

  .project__title {
    /* Typography */
    font-size: var(--typography-subtitle-size-base);
    font-style: normal;
    font-weight: var(--typography-subtitle-font-weight);
    line-height: 120%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    /* Style */
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project__icon {
    /* Layout */
    display: none;
    width: auto;
    height: 3rem;
  }

  .project__header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: var(--primary-color-1000);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;

    border-radius: inherit;
    z-index: 0;
    pointer-events: none;
  }

  /* From 430px */
  @media screen and (min-width: 26.875em) {
    .project__header {
      /* Layout */
      padding: var(--space-400) var(--space-800);
      justify-content: space-between;
    }

    .project__icon {
      /* Layout */
      display: inline;
    }
  }

  /* Tablet */
  @media screen and (min-width: 48em) {
    .project__header {
      /* Layout */
      padding: var(--space-600) var(--space-1200);
      justify-content: space-between;
    }

    .project__title {
      /* Typography */
      font-size: var(--typography-title-size-base);
      font-weight: var(--typography-title-font-weight);
      letter-spacing: -0.06rem;
    }
  }

  /* Small Desktop */
  @media screen and (min-width: 64em) {
    .project__header {
      /* Layout */
      padding: var(--space-800) var(--space-1200);
    }
  }
</style>
