---
import "@/styles/global.css";

interface Props {
  buttonType: "button-primary" | "button-secondary" | "button-tertiary";
  id?: string;
  className?: string;
  onclick?: string;
  ariaLabel?: string;
  isVisibleOnDesktop: boolean;
}

const { id, className, buttonType, onclick, ariaLabel, isVisibleOnDesktop } =
  Astro.props;

const classes = ["button-icon", buttonType, className]
  .filter(Boolean)
  .join(" ");
---

<button
  id={id}
  class={classes}
  onclick={onclick}
  aria-label={ariaLabel}
  data-visible-on-desktop={isVisibleOnDesktop}
>
  <slot />
</button>

<style>
  .button-tertiary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: transparent;
  }

  @media screen and (min-width: 1024px) {
    .button-icon[data-visible-on-desktop="false"] {
      display: none;
    }
  }
</style>
