---
import "@/styles/global.css";

interface Props {
  buttonType: "primary" | "secondary" | "tertiary";
  id?: string;
  className?: string;
  onclick?: string;
  ariaLabel?: string;
  isVisibleOnDesktop: boolean;
}

const { id, className, buttonType, onclick, ariaLabel, isVisibleOnDesktop } = Astro.props;
---

<button
id={id}
class={className}
data-type={buttonType}
onclick={onclick}
aria-label={ariaLabel}
data-visible-on-desktop={isVisibleOnDesktop}>
  <slot />
</button>

<style>
  button[data-type="tertiary"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: transparent;
  }

   @media screen and (min-width: 1024px) {
    button[data-visible-on-desktop="false"] {
      display: none;
    }
  }
  button[]
</style>
