---
import DatabaseIcon from "@/icons/DbIcon.svg";
import FrameworkIcon from "@/icons/FrameworkIcon.svg";
import LanguageIcon from "@/icons/LanguageIcon.svg";
import ToolIcon from "@/icons/ToolIcon.svg";
import { Image } from "astro:assets";

interface Props {
  title: string;
  level: 1 | 2 | 3;
  iconSrc: ImageMetadata;
  iconAlt: string;
  type: "lang" | "db" | "framework" | "tool";
}

const { title, level, iconSrc, iconAlt, type: stackType } = Astro.props;

let typeIcon: ImageMetadata;
let typeAlt: string;
let selfAssessedLevel: string;

// Get skill type
switch (stackType) {
  case "lang":
    typeIcon = LanguageIcon;
    typeAlt = "Database icon";
    break;

  case "db":
    typeIcon = DatabaseIcon;
    typeAlt = "Database icon";
    break;

  case "framework":
    typeIcon = FrameworkIcon;
    typeAlt = "Framework icon";
    break;

  case "tool":
    typeIcon = ToolIcon;
    typeAlt = "Tool icon";
    break;

  default:
    typeIcon = LanguageIcon;
    typeAlt = "Language icon";
    break;
}

// Get level
if (level === 3) selfAssessedLevel = "Avanzado";
else if (level === 2) selfAssessedLevel = "Intermedio";
else selfAssessedLevel = "Principiante";
---

<article class="skill-card">
  <Image class="skill-card__type" src={typeIcon} alt={typeAlt} />
  <Image class="skill-card__icon" src={iconSrc} alt={iconAlt} />
  <header class="skill-card__header">
    <h3 class="skill-card__title">{title}</h3>
    <small class="skill-card__level">Nivel {selfAssessedLevel}</small>
  </header>
</article>

<style>
  .skill-card {
    /* Layout */
    position: relative;
    display: inline-flex;
    min-width: 9.25rem;
    max-width: 9.25rem;
    aspect-ratio: 1/1;
    padding: var(--space-200);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    /* Style */
    border-radius: var(--radius-100);
    border: 1px solid var(--color-border-default-default);

    box-shadow: var(--size-depth-0) var(--size-depth-200) var(--size-depth-400)
      var(--size-depth-negative-200) var(--color-black-300);

    /* Animations */
    transition: border-color 0.3s ease-in-out;
  }

  .skill-card__type {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .skill-card__icon {
    /* Layout */
    max-height: 3.5rem;
    width: auto;
    object-fit: contain;
  }

  .skill-card__header {
    /* Layout */
    display: flex;
    padding: var(--space-0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-50);
  }

  .skill-card__title {
    /* Layout */
    align-self: stretch;

    /* Typography */
    color: var(--color-text-default-default);
    text-align: center;
    font-size: var(--subheading-size-base);
    font-style: normal;
    font-weight: var(--subheading-font-weight-strong);
    line-height: 120%;
  }

  .skill-card__level {
    /* Typography */
    color: var(--color-text-default-secondary);
    text-align: center;
    font-size: var(--body-size-small);
    font-style: normal;
    font-weight: var(--body-font-weight-regular);
    line-height: 120%;
  }

  .skill-card:hover {
    /* Style */
    border-color: var(--right-color-1000);
  }

  .skill-card:hover .skill-card__title {
    /* Style */
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .skill-card::before {
    /* Layout */
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    /* Style */
    background-image: var(--primary-color-100);

    /* Animations */
    transition: opacity 0.3s linear;
  }

  .skill-card:hover::before {
    /* Style */
    opacity: 1;
  }

  @media (min-width: 48em) {
    .skill-card {
      /* Layout */
      min-width: 18.75rem;
      max-width: 18.75rem;
      min-height: 12.5rem;
      max-height: 12.5rem;
      padding: var(--space-400) var(--space-200);
    }

    .skill-card__icon {
      /* Layout */
      max-height: 5.25rem;
    }

    .skill-card__title {
      font-size: var(--subheading-size-medium);
    }

    .skill-card__level {
      /* Typography */
      font-size: var(--body-size-base);
    }
  }
</style>
