---
import AnchorButton from "@/components/buttons/AnchorButton.astro";
import CopyIcon from "@/icons/Copy.astro";
import OpenInNewIcon from "@/icons/OpenInNew.astro";
import SendIcon from "@/icons/Send.astro";
import Image from "astro/components/Image.astro";
import IconButton from "../buttons/IconButton.astro";

type ButtonData = {
  href?: string;
  ariaLabel: string;
};

interface Props {
  title: string;
  contactInfo: string;
  iconSrc: ImageMetadata;
  iconAlt: string;
  sendButtonData?: ButtonData;
  redirectButtonData?: ButtonData;
  copyButtonData?: ButtonData;
}

const {
  title,
  iconSrc,
  iconAlt,
  contactInfo,
  sendButtonData = { ariaLabel: "" },
  redirectButtonData = { ariaLabel: "" },
  copyButtonData,
} = Astro.props;
---

<article class="contact-card">
  <header class="contact-card__header">
    <h3 class="contact-card__title">
      {title}
    </h3>
  </header>
  <div class="contact-card__content">
    <Image class="contact-card__icon" src={iconSrc} alt={iconAlt} />
    <p class="contact-card__info">{contactInfo}</p>
  </div>
  <footer class="contact-card__buttons">
    {
      sendButtonData && sendButtonData.href && (
        <AnchorButton
          type="primary"
          href={sendButtonData.href}
          ariaLabel={sendButtonData.ariaLabel}
        >
          <SendIcon />
        </AnchorButton>
      )
    }

    {
      redirectButtonData && redirectButtonData.href && (
        <AnchorButton
          type="primary"
          href={redirectButtonData.href}
          ariaLabel={redirectButtonData.ariaLabel}
        >
          <OpenInNewIcon />
        </AnchorButton>
      )
    }

    {
      copyButtonData && (
        <IconButton
          buttonType="button-secondary"
          className="contact-card__copy-button"
          ariaLabel={copyButtonData.ariaLabel ?? ""}
        >
          <CopyIcon />
        </IconButton>
      )
    }
  </footer>
</article>
