---
import ContactCard from "@/components/contact/ContactCard.astro";
import EmailIcon from "@/icons/EmailIcon.svg";
import GitHubIcon from "@/icons/GitHubIcon.svg";
import LinkedinIcon from "@/icons/LinkedinIcon.svg";
import LocationIcon from "@/icons/LocationIcon.svg";
import PhoneIcon from "@/icons/PhoneIcon.svg";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="contact" title="Contacto e Información">
  <div class="contact-info">
    <ContactCard
      title="Ubicación"
      contactInfo="Bogotá, Colombia"
      iconSrc={LocationIcon}
      iconAlt="Icono del planeta tierra"
    />
    <ContactCard
      title="Teléfono"
      contactInfo="3208871919"
      iconSrc={PhoneIcon}
      iconAlt="Icono de teléfono"
      sendButtonData={{
        href: "https://wa.me/573208871919?text=Un%20cordial%20saludo%2C%20nos%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20t%C3%AD%20para%20ofrecerte%20una%20oportunidad%20laboral",
        ariaLabel: "Enviar mensaje a WhatsApp",
      }}
    />
    <ContactCard
      title="Gmail"
      contactInfo="pedropablorodriguezcarranza@gmail.com"
      iconSrc={EmailIcon}
      iconAlt="Icono de correo"
      sendButtonData={{
        href: "https://mail.google.com/mail/?view=cm&fs=1&to=pedropablorodriguezcarranza@gmail.com&su=Oportunidad%20Laboral%20de%20[Nombre%20de%20la%20Empresa]&body=Reciba%20un%20cordial%20saludo%2C%20somos%20[Nombre%20de%20la%20Empresa]%2C%20mi%20nombre%20es%20[Nombre]%20y%20hemos%20estado%20revisando%20su%20portafolio%20y%20nos%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20usted%20para%20ofrecerle%20una%20oportunidad%20laboral.%0A%0AQuedamos%20atentos%20a%20su%20respuesta.%0A%0AAtentamente%2C%20[Nombre%20de%20la%20Empresa].",
        ariaLabel: "Enviar mensaje a Gmail",
      }}
    />
    <ContactCard
      title="GitHub"
      contactInfo="github.com/PabloStarOk"
      iconSrc={GitHubIcon}
      iconAlt="Icono de GitHub"
      redirectButtonData={{
        href: "https://github.com/PabloStarOk",
        ariaLabel: "Perfil de GitHub en una nueva página",
      }}
    />
    <ContactCard
      title="LinkedIn"
      contactInfo="linkedin.com/in/pedro-pablo-rodriguez"
      iconSrc={LinkedinIcon}
      iconAlt="Icono de LinkedIn"
      redirectButtonData={{
        href: "http://www.linkedin.com/in/pedro-pablo-rodriguez",
        ariaLabel: "Perfil de LinkedIn en una nueva página",
      }}
    />
    <ContactCard
      title="Outlook"
      contactInfo="pablorodriguez.377@outlook.com"
      iconSrc={EmailIcon}
      iconAlt="Icono de correo"
      sendButtonData={{
        href: "https://outlook.live.com/mail/0/deeplink/compose?to=pablorodriguez.377@outlook.com&subject=Oportunidad%20Laboral%20de%20[Nombre%20de%20la%20Empresa]&body=Reciba%20un%20cordial%20saludo%2C%20somos%20[Nombre%20de%20la%20Empresa]%2C%20mi%20nombre%20es%20[Nombre]%20y%20hemos%20estado%20revisando%20su%20portafolio%20y%20nos%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20usted%20para%20ofrecerle%20una%20oportunidad%20laboral.%0A%0AQuedamos%20atentos%20a%20su%20respuesta.%0A%0AAtentamente%2C%20[Nombre%20de%20la%20Empresa].",
        ariaLabel: "Enviar mensaje a Outlook",
      }}
    />
  </div></SectionLayout
>
