---
import AstroIcon from "@/assets/technologies/AstroIcon.svg";
import CsharpIcon from "@/assets/technologies/CsharpIcon.svg";
import CssIcon from "@/assets/technologies/CssIcon.svg";
import DockerIcon from "@/assets/technologies/DockerIcon.svg";
import DotnetIcon from "@/assets/technologies/DotnetIcon.svg";
import FigmaIcon from "@/assets/technologies/FigmaIcon.svg";
import HtmlIcon from "@/assets/technologies/HtmlIcon.svg";
import JavascriptIcon from "@/assets/technologies/JavascriptIcon.svg";
import PostgreSqlIcon from "@/assets/technologies/PostgreSqlIcon.svg";
import TechnologyCard from "@/components/technologies/TechnologyCard.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="technologies" title="Tecnologías">
  <section class="tech-section">
    <div class="tech-section__header">
      <h3 class="tech-section__title">Principales</h3>
      <p class="tech-section__description">Mi stack de desarrollo principal, centrado en la creación de aplicaciones backend.</p>
    </div>
    <ul class="tech-section__list">
      <li>
        <TechnologyCard
          title=".NET"
          iconSrc={DotnetIcon}
          iconAlt="Logo de .NET"
          type="framework"/>
      </li>
      <li>
        <TechnologyCard
          title="C#"
          iconSrc={CsharpIcon}
          iconAlt="Logo de CSharp"
          type="lang"/>
      </li>
      <li>
        <TechnologyCard
          title="PostgreSQL"
          iconSrc={PostgreSqlIcon}
          iconAlt="Logo de PostgreSQL"
          type="db"/>
      </li>
      <li>
        <TechnologyCard
          title="Docker"
          iconSrc={DockerIcon}
          iconAlt="Logo de Docker"
          type="tool"/>
      </li>
    </ul>
  </section>

  <section class="tech-section">
    <div class="tech-section__header">
      <h3 class="tech-section__title">Secundarias</h3>
      <p class="tech-section__description">Experiencia práctica desarrollando proyectos full-stack y web para complementar mi enfoque backend.</p>
    </div>
    <ul class="tech-section__list">
      <li>
        <TechnologyCard
          title="Astro"
          iconSrc={AstroIcon}
          iconAlt="Logo de Astro framework"
          type="framework"
        />
      </li>
      <li>
        <TechnologyCard
          title="JavaScript"
          iconSrc={JavascriptIcon}
          iconAlt="Logo de JavaScript"
          type="lang"
        />
      </li>
      <li>
        <TechnologyCard
          title="HTML"
          iconSrc={HtmlIcon}
          iconAlt="Logo de HTML"
          type="lang"
        />
      </li>
      <li>
        <TechnologyCard
          title="CSS"
          iconSrc={CssIcon}
          iconAlt="Logo de CSS"
          type="lang"
        />
      </li>
      <li>
        <TechnologyCard
          title="Figma"
          iconSrc={FigmaIcon}
          iconAlt="Logo de Figma"
          type="tool"
        />
      </li>
    </ul>
  </section>
</SectionLayout>

<style>
  .tech-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-600)
  }

  .tech-section__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-150);
      align-self: stretch;
  }

  .tech-section__title {
    /* Typography */
    text-align: center;
    font-size: var(--subheading-size-medium);
    font-style: normal;
    font-weight: var(--subheading-font-weight-strong, 600);
    line-height: normal;

    /* Style */
    width: fit-content;
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tech-section__description {
    /* Typography */
    text-align: center;
    font-size: var(--body-size-medium);
    font-style: normal;
    font-weight: var(--body-font-weight-regular);
    line-height: 140%;

    /* Style */
    color: var(--color-text-default-secondary);
    width: fit-content;
  }

  .tech-section__list {
    padding: 0;
    list-style: none;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-400);
  }

  @media (min-width: 768px) {
    .tech-section__list {
      gap: var(--space-600);
    }
  }
</style>
