---
import AstroIcon from "@/assets/technologies/AstroIcon.svg";
import CsharpIcon from "@/assets/technologies/CsharpIcon.svg";
import CssIcon from "@/assets/technologies/CssIcon.svg";
import DockerIcon from "@/assets/technologies/DockerIcon.svg";
import DotnetIcon from "@/assets/technologies/DotnetIcon.svg";
import FigmaIcon from "@/assets/technologies/FigmaIcon.svg";
import HtmlIcon from "@/assets/technologies/HtmlIcon.svg";
import JavascriptIcon from "@/assets/technologies/JavascriptIcon.svg";
import MysqlIcon from "@/assets/technologies/MysqlIcon.svg";
import TypescriptIcon from "@/assets/technologies/TypescriptIcon.svg";
import TechnologyCard from "@/components/technologies/TechnologyCard.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="technologies" title="Tecnologías">
  <div class="technology-cards-container">
    <TechnologyCard
      title=".NET"
      level={2}
      iconSrc={DotnetIcon}
      iconAlt="Logo de .NET"
      type="framework"
    />
    <TechnologyCard
      title="Astro"
      level={1}
      iconSrc={AstroIcon}
      iconAlt="Logo de Astro framework"
      type="framework"
    />
    <TechnologyCard
      title="C#"
      level={2}
      iconSrc={CsharpIcon}
      iconAlt="Logo de CSharp"
      type="lang"
    />
    <TechnologyCard
      title="JavaScript"
      level={1}
      iconSrc={JavascriptIcon}
      iconAlt="Logo de JavaScript"
      type="lang"
    />
    <TechnologyCard
      title="TypeScript"
      level={1}
      iconSrc={TypescriptIcon}
      iconAlt="Logo de TypeScript"
      type="lang"
    />
    <TechnologyCard
      title="HTML"
      level={1}
      iconSrc={HtmlIcon}
      iconAlt="Logo de HTML"
      type="lang"
    />
    <TechnologyCard
      title="CSS"
      level={1}
      iconSrc={CssIcon}
      iconAlt="Logo de CSS"
      type="lang"
    />
    <TechnologyCard
      title="MySQL"
      level={2}
      iconSrc={MysqlIcon}
      iconAlt="Logo de MySQL"
      type="db"
    />
    <TechnologyCard
      title="Figma"
      level={2}
      iconSrc={FigmaIcon}
      iconAlt="Logo de Figma"
      type="tool"
    />
    <TechnologyCard
      title="Docker"
      level={1}
      iconSrc={DockerIcon}
      iconAlt="Logo de Docker"
      type="tool"
    />
  </div>
</SectionLayout>

<style>
  .technology-cards-container {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-400);
  }

  @media (min-width: 768px) {
    .technology-cards-container {
      gap: var(--space-1200);
    }
  }
</style>
