---
import ProjectTitle from "@/components/projects/content/ProjectTitle.astro";
import { projectsIconsDir, projectsThumbnailsDir } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

// Project data
const { project } = Astro.props;
const { name, assets, hero } = project.data;
const { Content } = await render(project);
---

<Layout
  title=`Proyecto ${name} - Pedro Rodriguez`
  displayNavLinks={false}
  displayThemeToggle={false}
  displayBackButton={true}
>
  <ProjectTitle
    title={name}
    iconSrc={projectsIconsDir + assets.icon.fileName}
    iconAlt={assets.icon.alt}
  />
  <p>{hero.description}</p>
  <img
    src={projectsThumbnailsDir + assets.thumbnail.fileName}
    alt={assets.thumbnail.alt}
  />
  {
    hero.buttons.map((button) => {
      if (button === "GitHub") return <button>GitHub</button>;
      else if (button === "LiveDemo") return <button>LiveDemo</button>;
    })
  }
  <Content />
</Layout>
