---
import ProjectTitle from "@/components/projects/content/ProjectTitle.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { name, assets, hero } = project.data;
const { Content } = await render(project);
---

<Layout
  title=`Proyecto ${name} - Pedro Rodriguez`
  displayNavLinks={false}
  displayThemeToggle={false}
  displayBackButton={true}
>
  <ProjectTitle
    title={name}
    iconSrc=`/src/assets/projects/icons/${assets.icon.fileName}`
    iconAlt={assets.icon.alt}
  />
  <h1>{name}</h1>
  <p>{hero.description}</p>
  <img
    src=`/src/assets/projects/thumbnails/${assets.thumbnail.fileName}`
    alt={assets.thumbnail.alt}
  />
  {
    hero.buttons.map((button) => {
      if (button === "GitHub") return <button>GitHub</button>;
      else if (button === "LiveDemo") return <button>LiveDemo</button>;
    })
  }
  <Content />
</Layout>
