---
interface Props {
  href: string;
  ariaLabel: string;
  id?: string;
  target?: string;
  rel?: string;
  type?: "primary" | "secondary" | "tertiary";
  size?: "default" | "small" | "x-small";
  class?: string;
}

const {
  ariaLabel,
  id = "",
  target = "_blank",
  rel = "",
  type = "primary",
  size = "default",
  class: className,
} = Astro.props;

// Add "noopener" and "noreferrer" for links that open in a new tab, while avoiding duplicates
const relation =
  target === "_blank"
    ? [...new Set(["noopener", "noreferrer", ...rel.split(" ")])].join(" ")
    : rel;
---

<a
  id={id}
  class=`anchor-button anchor-button--${type} anchor-button--${size} ${className}`
  target={target}
  rel={relation}
  aria-label={ariaLabel}
  {...Astro.props}
>
  {(type === "primary" || type === "tertiary") && <slot />}
  {
    type === "secondary" && (
      <div class="anchor-button-wrapper">
        <div class="anchor-button-content">
          <slot />
        </div>
      </div>
    )
  }
</a>

<style>
  .anchor-button {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /* Style */
    border-radius: var(--radius-100);
    background: var(--color-primary-1000);

    /* Typography */
    color: var(--color-foreground-neutral-onneutral-primary);
    text-decoration: none;
    font-size: var(--typography-body-size-base);
    font-style: normal;
    font-weight: var(--typography-body-font-weight-regular);
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    /* Animations */
    transition:
      transform 0.2s ease-in-out,
      filter 0.2s ease-in-out,
      outline-offset 0.2s ease-in-out;
  }

  .anchor-button--default {
    min-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    gap: var(--space-300);
    padding: var(--space-300);
  }

  .anchor-button--small {
    min-width: 2.1875rem;
    min-height: 2.1875rem;
    max-height: 2.1875rem;
    gap: var(--space-200);
    padding: var(--space-200);
  }

  .anchor-button--x-small {
    min-width: 1.875rem;
    min-height: 1.875rem;
    max-height: 1.875rem;
    gap: var(--space-150);
    padding: var(--space-150);
  }

  .anchor-button--primary {
    border: none;
  }

  .anchor-button--secondary {
    /* Layout */
    position: relative;
    padding: var(--space-25);
  }

  .anchor-button--tertiary {
    /* Style */
    background: none;
    background: var(--color-primary-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .anchor-button-wrapper {
    /* Layout */
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-200);
    box-sizing: border-box;

    /* Style */
    background-color: var(--color-background-default-primary);
    border-radius: calc(var(--space-25) + var(--radius-50));
  }

  .anchor-button-content {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;
    gap: var(--space-200);

    /* Style */
    background: var(--color-primary-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .anchor-button:hover,
  .anchor-button:focus-visible {
    transform: scale(1.1);
  }

  .anchor-button:focus-visible {
    outline: var(--space-100) solid var(--color-primary-gradient-right-1000);
    outline-width: 0.188rem;
    outline-offset: var(--space-100);
    border-radius: var(--radius-100);
  }

  .anchor-button:active {
    filter: brightness(0.8);
    animation: bounce 0.2s ease-in-out;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
